:root {
    --border-color: #555;
}

.img_border {
    border: 5px solid   var(--border-color);
    border-bottom: 0px;
}
.text_border {
    border: 5px solid var(--border-color);
    border-top: 0px;
    max-width: 760px;
    margin-left: auto;
    margin-right: auto;
}

#img_border {
    border: 5px solid   var(--border-color);
    border-top: 0px;

}
#text_border {
    border: 5px solid var(--border-color);
    border-bottom: 0px;
    max-width: 760px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
}