:root {
    --bg-color: rgb(24, 26, 27);
    --nav-color: rgb(36, 39, 41);
    --gray: rgba(255, 255, 255, 0.5);
    --dark-gray: rgba(255, 255, 255, 0.3);
}

body {
    background-color: var(--bg-color);
    color: white;
}

nav {
    background-color: var(--nav-color) !important;
}

nav * {
    color: white !important;
}

.navbar-brand {
    font-size: x-large;
    font-weight: bold;
    margin-right: 40px;
}

.navbar-toggler {
    border-color: white;

    & span {
        filter: invert();
    }
}

.nav-link.active {
    font-weight: bold;
}


